.dp {
    border-radius: 100px;
}

.sect {
    padding-top: 4rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills > div {
    background-color: #99fb;
    color: #00d;
    height: 100%;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
}

.skill-div {
    min-width: 20%;
    background-color: #8686ff44;
    border-radius: 15px;
    padding: 20px;
}

.hint {
    color: #77a;
    font-size: .8rem;
}

@media (max-width: 575px) {
    .name {
        font-size: 9vw;
        font-weight: 400;
    }   
}

@media (min-width: 576px) {
    .name {
        font-size: 52px;
        font-weight: 400;
    }   
}

@media (min-width: 768px) {
    .name {
        font-size: 68px;
        font-weight: 400;
    } 
}

@media (max-width: 991px) {
    .custom-flex {
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .custom-width {
        width: 100%;
    }

    .custom-text-align {
        text-align: center;
    }

    .custom-font {
        font-size: .92rem;
    }

    .custom-mb {
        margin-bottom: 1rem;
    }

    .custom-mx {
        margin-left: 1.75rem;
        margin-right: 1.75rem;
    }
}

@media (min-width: 992px) {
    .name {
        font-size: 64px;
        font-weight: 400;
    }   

    .custom-flex {
        display: flex;
    }

    .custom-width {
        width: 48%;
    }

    .custom-text-align {
        text-align: start;
    }
    
    .custom-font {
        font-size: 1rem;
    }
    
    .custom-mb {
        margin-bottom: 0;
    }

    .custom-mx {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .name {
        font-size: 74px;
        font-weight: 400;
    }   
}

@media (min-width: 1400px) {
    .name {
        font-size: 92px;
        font-weight: 400;
    }   
}

.status {
    white-space: nowrap;
    font-size: 11px;
    background-color: #99fb;
    border: 1px solid #00f;
    color: #00f;
    font-weight: 500;
    border-radius: 25px;
    padding: 2px 5px;
}

.footer {
    text-align: center;
    padding-top: 4rem;
    color: #777;
    font-size: .7rem;
}

.timeline {
    padding-left: 12px;
}

.event {
    padding: 10px 5px 10px 0;
    margin: 5px;
}

body[data-bs-theme="light"] .event > div > h5 {
    color: #24a;
    margin-bottom: 0;
}
body[data-bs-theme="dark"] .event > div > h5 {
    color: #99f;
    margin-bottom: 0;
}

body[data-bs-theme="light"] .mode-bg-color {
    background-color: white;
}
body[data-bs-theme="dark"] .mode-bg-color {
    background-color: #212529;
}

.event-info {
    padding-left: 5px;
    font-size: .9rem;
    opacity: 75%;
}

.date {
    white-space: nowrap;
    padding: 0 5px;
    font-size: .8rem;
    background-color: #66f4;
    border: 1px solid #99c7;
    border-radius: 15px;
    align-self: center;
}

.company {
    padding-left: 5px;
    font-weight: 500;
}

.link {
    text-decoration: none;
    transition: 0.08s ease;
    display: inline-block;
}

.link:hover {
    font-weight: 500;
    transform: scale(1.08);
}

.cert {
    padding-left: 7px;
    font-size: .85rem;
    align-self: center;
    text-decoration: none;
}

.cert:hover {
    font-weight: 600;
    padding-left: 5px;
}

.active {
    animation-name: blinking;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    border: 1px solid #3a37 !important;
}

@keyframes blinking {
    0%, 100% {
        background-color: #3f35;
        box-shadow: none;
    }
    50% {
        background-color: #3f6b;
        box-shadow: 0 0 18px #3f35;
    }
}